# Entornos virtuales
clip/
venv/
env/
.env

# Modelos y Pesos
*.pt
*.pth

# Datos del Sistema (Detecciones y Base de Datos)
imagenes/personas_detectadas/*
faiss_data/
metadata/

# Byte-compiled / optimizados / DLLs
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Logs y bases de datos
*.log
*.sqlite3

# IDEs y editores
.idea/
.vscode/
*.swp
.DS_Store
